[submodule "Theme - Soda"]
	path = Theme - Soda
	url = https://github.com/buymeasoda/soda-theme.git
[submodule "Sniptastic"]
	path = Sniptastic
	url = https://github.com/bobthecow/sublime-sniptastic.git
[submodule "Django4ST2"]
	path = Django4ST2
	url = https://github.com/squ1b3r/Django4ST2.git
[submodule "SublimeCodeIntel"]
	path = SublimeCodeIntel
	url = https://github.com/Kronuz/SublimeCodeIntel.git
[submodule "SublimeLint"]
	path = SublimeLint
	url = https://github.com/OscarL/SublimeLint.git
[submodule "sublime-github"]
	path = sublime-github
	url = https://github.com/bgreenlee/sublime-github.git
[submodule "gitst2"]
	path = gitst2
	url = https://github.com/notanumber/gitst2.git
