[submodule "Theme - Soda"]
	path = Theme - Soda
	url = https://github.com/buymeasoda/soda-theme.git
	ignore = untracked 
[submodule "Sniptastic"]
	path = Sniptastic
	url = https://github.com/bobthecow/sublime-sniptastic.git
	ignore = untracked 
[submodule "SublimeCodeIntel"]
	path = SublimeCodeIntel
	url = https://github.com/Kronuz/SublimeCodeIntel.git
	ignore = untracked 
[submodule "SublimeLinter"]
	path = SublimeLinter
	url = https://github.com/Kronuz/SublimeLinter.git
	ignore = untracked 
[submodule "sublime-github"]
	path = sublime-github
	url = https://github.com/bgreenlee/sublime-github.git
	ignore = untracked 
[submodule "gitst2"]
	path = gitst2
	url = https://github.com/notanumber/gitst2.git
	ignore = untracked 
[submodule "GoSublime"]
	path = GoSublime
	url = https://github.com/DisposaBoy/GoSublime.git
	ignore = untracked
[submodule "Djaneiro"]
	path = Djaneiro
	url = https://github.com/squ1b3r/Djaneiro.git
	ignore = untracked
[submodule "BracketHighlighter"]
	path = BracketHighlighter
	url = https://github.com/facelessuser/BracketHighlighter.git
        ignore = untracked
[submodule "sublime-text-2-git"]
	path = sublime-text-2-git
	url = https://github.com/kemayo/sublime-text-2-git.git
        ignore = untracked
[submodule "jinja2-tmbundle"]
	path = jinja2-tmbundle
	url = https://github.com/mitsuhiko/jinja2-tmbundle.git
